# — Fortran build artifacts
*.o
*.mod
*.d

# — NUOPC coupling static lib & version file
/lis/runmodes/nuopc_cpl_mode/VERSION
/lis/runmodes/nuopc_cpl_mode/liblis_nuopc.a

# — Jupyter
**/.ipynb_checkpoints/
*.nbconvert.ipynb

# — Python
__pycache__/
*.py[cod]

# — Vim swap files
*.swp

# — Emacs backup files
*~
.#*

# — IDE directories
.idea/
.vscode/

# — OS files
.DS_Store
Thumbs.db

# — Optional extras
# log files
*.log

# temp files
*.tmp

